@import 'reset';
@import 'mixins';
@import 'vars';
@import 'global';

.header {
  padding-top: size(35, 20);
  margin-bottom: size(60, 20);

  &__offer {
    margin: 0 auto;
    max-width: 546px;
  }

  &__title {
    font-size: size(40, 20);
    font-weight: 400;
    margin-bottom: size(55, 30);

    span {
      font-weight: 700;
    }
  }



  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: size(75, 30);

    @include r($phone) {
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__button {
    cursor: pointer;

    &:hover {
      .header__card {
        transform: scale(1.2);
        box-shadow: 0 10px 10px 10px rgba(#000, 0.25);
      }
    }
  }
}

.result {
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__text-box {
    display: flex;
    justify-content: space-between;

    @include r($phone) {
      display: block;
    }
  }

  .text {
    margin-bottom: 35px;
  }

  &__box {
    min-height: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-300px);
    transition: min-height 1s ease-in-out, opacity .5s ease-in-out, visibility .5s ease-in-out;
  }

  &__box.active {
    min-height: size(300, 200);
    opacity: 1;
    visibility: visible;
    transform: translateY(0);

    .result__head {
      width: size(150, 100);
      height: size(150, 100);
    }
  }

  &__head {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    width: 0;
    height: 0;
    transition: width 0.3s ease-in-out, height .3s ease-in-out;
    margin-bottom: 25px;
  }

  &__text {
    font-size: size(30, 15);
    max-width: 345px;
    margin: 0 auto;

    span {
      font-weight: 700;
    }
  }

  &__enemy {
    .header__card {
      width: size(150, 100);
      height: size(150, 100);
      background-size: size(105, 80);
    }
  }
}
